@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core from Azure published file.     
          </a>.This is a demo page for testing GITUB with Azure sync.1234567</p>
</div>
